
html,
body {
	height: 100%;
	min-height: 100%;
}

body {
	background: #6e5460;
}

body,
body * {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	background: url(img/pic6.png) no-repeat center top;
    position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	width: 62%;
	height: 100%;
	min-height: 700px;
    margin: 0 auto;
    
}
.act {
	position: absolute;
    /*border: 1px solid;*/

}

.act:hover {
	cursor: pointer;
}

.drum1 {
	top: 269px;
    left: 106px;
    width: 166px;
    height: 190px;
}

.drum2 {
    top: 326px;
    left: 262px;
    width: 315px;
    height: 286px;
    border-radius: 52%;
}

.drum3 {
	top: 175px;
    left: 246px;
    width: 155px;
    height: 136px;
}

.drum4 {
	top: 175px;
    right: 241px;
    width: 141px;
    height: 124px;
}

.drum5 {
	top: 274px;
    right: 176px;
    width: 158px;
    height: 61px;
}

.cymbal1 {
	top: 191px;
    right: 75px;
    width: 137px;
    height: 57px;
}

.cymbal2 {
	top: 61px;
    left: 59px;
    width: 180px;
    height: 70px;
}


.music_wrap {
	position: fixed;
	top: 100px;
    left: 0;
    width: 230px;

    color: #fff;
    font: 15px Tahoma, sans-serif;
}

.music_wrap h4 {
	margin-bottom: 15px;

	color: #fff;
	font: 15px Tahoma, sans-serif;
}

.music_wrap audio {
	width: 100%;
}

.music_wrap div {
	border-bottom: 2px solid darkgray;
	padding: 5px;
	margin-top: 5px;

}
/*.music_wrap p {
	margin-bottom: 5px;
}*/

